In [2]:
import pandas as pd
import numpy as np

In [4]:
book = pd.read_csv('/content/book.csv')

In [5]:
book.head(20)

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
5,1,0,0,0,0,1,0,0,0,0,1
6,0,1,0,0,0,0,0,0,0,0,0
7,0,1,0,0,1,0,0,0,0,0,0
8,1,0,0,1,0,0,0,0,0,0,0
9,1,1,1,0,0,0,1,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,0
11,0,0,1,0,0,0,1,0,0,0,0
12,1,0,0,0,0,1,0,0,0,0,1
13,1,1,0,1,1,1,0,0,1,1,0
14,1,1,1,0,0,0,0,0,0,0,0
15,1,1,1,0,0,0,1,0,0,0,0
16,0,0,1,0,0,0,0,0,0,0,0
17,0,0,1,0,0,0,0,0,0,0,0
18,1,1,1,1,1,1,1,0,0,0,0
19,1,1,1,0,0,1,0,0,0,0,1

In [6]:
book.shape

(2000, 11)

In [7]:
book[(book['ChildBks']==1)]

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
1,1,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
5,1,0,0,0,0,1,0,0,0,0,1
8,1,0,0,1,0,0,0,0,0,0,0
9,1,1,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1984,1,0,0,0,0,0,0,0,0,0,0
1985,1,0,0,0,0,0,0,0,0,0,0
1987,1,1,1,1,0,1,1,0,0,0,0
1989,1,0,0,0,0,0,0,0,0,0,0
1990,1,0,1,1,0,0,1,1,0,0,0

In [8]:
book[(book['ChildBks']==0)]

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
6,0,1,0,0,0,0,0,0,0,0,0
7,0,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [9]:
book.sort_values('ChildBks')

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1183,0,0,0,0,0,0,0,0,0,0,0
1182,0,0,0,0,0,0,0,0,0,0,0
1181,0,0,1,1,0,1,1,0,0,0,0
1179,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
444,1,0,0,0,0,0,0,0,0,0,0
1243,1,1,1,1,1,1,1,0,0,0,0
443,1,1,1,0,1,1,1,1,1,1,0
457,1,0,0,0,0,0,0,0,0,0,0
1363,1,0,0,0,0,0,0,0,0,0,0

In [10]:
len(book.DoItYBks	.unique())

2

In [11]:
(book['DoItYBks'].value_counts()).shape[0]

2

In [12]:
book['Florence'].value_counts()

0    1783
1     217
Name: Florence, dtype: int64

In [13]:
len(book.CookBks.unique())

2

In [14]:
book.	Florence.value_counts()

0    1783
1     217
Name: Florence, dtype: int64

In [25]:
user_book = book[1:11]

In [26]:
user_book

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
5,1,0,0,0,0,1,0,0,0,0,1
6,0,1,0,0,0,0,0,0,0,0,0
7,0,1,0,0,1,0,0,0,0,0,0
8,1,0,0,1,0,0,0,0,0,0,0
9,1,1,1,0,0,0,1,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,0

In [38]:
user_book.shape

(10, 11)

In [27]:
user_book.fillna(0, inplace=True)

<ipython-input-27-89775733e79c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_book.fillna(0, inplace=True)

In [28]:
from sklearn. metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [29]:
user_sim = 1 - pairwise_distances(user_book.values,metric='cosine')

In [30]:
user_sim

array([[1.        , 0.        , 0.4472136 , 0.        , 0.57735027,
        0.        , 0.        , 0.70710678, 0.5       , 0.        ],
       [0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.4472136 , 0.        , 1.        , 0.63245553, 0.25819889,
        0.4472136 , 0.63245553, 0.31622777, 0.89442719, 0.        ],
       [0.        , 0.        , 0.63245553, 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.70710678, 0.        ],
       [0.57735027, 0.        , 0.25819889, 0.        , 1.        ,
        0.        , 0.        , 0.40824829, 0.28867513, 0.        ],
       [0.        , 0.        , 0.4472136 , 0.        , 0.        ,
        1.        , 0.70710678, 0.        , 0.5       , 0.        ],
       [0.        , 0.        , 0.63245553, 0.        , 0.        ,
        0.70710678, 1.        , 0.        , 0.35355339, 0.        ],
       [0.70710678, 0.        , 0.31622777, 0.        , 0.40824829,
        0.        , 0.        , 1.        , 0.35355339, 0.        ],
       [0.5       , 0.        , 0.89442719, 0.70710678, 0.28867513,
        0.5       , 0.35355339, 0.35355339, 1.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ]])

In [31]:
np.fill_diagonal(user_sim,0)

In [32]:
user_sim_df = pd.DataFrame(user_sim)

In [33]:
user_sim_df

,0,1,2,3,4,5,6,7,8,9
0,0.000000,0.0,0.447214,0.000000,0.577350,0.000000,0.000000,0.707107,0.500000,0.0
1,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2,0.447214,0.0,0.000000,0.632456,0.258199,0.447214,0.632456,0.316228,0.894427,0.0
3,0.000000,0.0,0.632456,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.0
4,0.577350,0.0,0.258199,0.000000,0.000000,0.000000,0.000000,0.408248,0.288675,0.0
5,0.000000,0.0,0.447214,0.000000,0.000000,0.000000,0.707107,0.000000,0.500000,0.0
6,0.000000,0.0,0.632456,0.000000,0.000000,0.707107,0.000000,0.000000,0.353553,0.0
7,0.707107,0.0,0.316228,0.000000,0.408248,0.000000,0.000000,0.000000,0.353553,0.0
8,0.500000,0.0,0.894427,0.707107,0.288675,0.500000,0.353553,0.353553,0.000000,0.0
9,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [36]:
user_sim_df.idxmax(axis=1)[0:10]

0    7
1    0
2    8
3    8
4    0
5    6
6    5
7    0
8    2
9    0
dtype: int64

In [37]:
user_sim_df.iloc[0:5,0:5]

          0    1         2         3         4
0  0.000000  0.0  0.447214  0.000000  0.577350
1  0.000000  0.0  0.000000  0.000000  0.000000
2  0.447214  0.0  0.000000  0.632456  0.258199
3  0.000000  0.0  0.632456  0.000000  0.000000
4  0.577350  0.0  0.258199  0.000000  0.000000

In [40]:
book[(book['ChildBks']==6) | (book['ChildBks']==1)]

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
1,1,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
5,1,0,0,0,0,1,0,0,0,0,1
8,1,0,0,1,0,0,0,0,0,0,0
9,1,1,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1984,1,0,0,0,0,0,0,0,0,0,0
1985,1,0,0,0,0,0,0,0,0,0,0
1987,1,1,1,1,0,1,1,0,0,0,0
1989,1,0,0,0,0,0,0,0,0,0,0
1990,1,0,1,1,0,0,1,1,0,0,0

In [41]:
user_1=book[(book['ChildBks']==6)]

In [43]:
user_2=book[(book['ChildBks']==145)]